#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
}

#footer .bull {
    font-size: 7px;
    position: relative;
    top: -2px;
}

#footer #left.float {
    float: left;
}

#footer #col3 {
    float: right;
    width: 187px;
}

#footer #col3 #logout_link {
    margin-top: 3px;
}
